.container .star-widget input{
	display: none;

}
.star-widget label{
	font-size: 20px;
	color: #444;
	padding: 5px;
	float: right;
	justify-content: center;
	transition: all 0.2s ease;
}
.s input:not(:checked) ~ label:hover,
.s input:not(:checked) ~ label:hover ~ label{
	color: #fd4;
}
input:checked ~ label{
	color: #fd4;
}
input#rate-5:checked ~ label{
	color: #fe7;
	text-shadow: 0 0 20px #952;
}

input{
	display: none;
	visibility: hidden;
}